@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


* {
    font-family: 'Yusei Magic', sans-serif;
}

main.main-container {
    width: 85%;
    height: 75vh;
    margin: auto;
}

header.header-music {
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 157, 0);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.822); */
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.582);
}

.logo-header {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.nav-music {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    float: right;
}

section.section-content {
    width: 100%;
    height: 75vh;
    display: flex;
}

main.content-left {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-de-musicas {
    width: 70%;
    height: 30%;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 157, 0);
    border-radius: 10px;
    border: 1px solid black;
}

label.nome {
    margin-top: -10px;
}

input#lista-music {
    width: 50%;
    height: 30px;
    font-size: x-large;
    text-align: center;
}

figure.content-right {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.bear-dancing {
    width: 100%;
}



footer.footer-thanks {
    width: 100%;
    height: 14vh;
}
